<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <form action="/home" method="get">
    <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Klasa</th>
            <th>Opis</th>
            <th>Zdjecie</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ this.Imie }}</td>
            <td>{{ this.Nazwisko }}</td>
            <td>{{ this.Wiek }}</td>
            <td>{{ this.Klasa }}</td>
            <td>{{ this.Opis }}</td>
            <td>{{ this.Zdjecie }}</td>
        </tr>
        {{/each}}
    </tbody>
    </form>
    <form action="/home" method="post">
        <button type="submit" value="Lewy" name="click">left</button>
        <button type="submit" value="Prawy" name="click">right</button>
    </form>
    <button class="button">Dalej</button>
</body>
</html>