<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <form action="/home" method="get" class="box">
    <thead class="info_student">
        {{#each data}}
        <tr>
            <center><img src="{{ this.Zdjecie}}" width="250px" height="250px"></center>
            <br><br>
            <h2>Informacje</h2>
            <div class="box_info">
                <td>Imie: {{ this.Imie }}</td>
                <br><br>
                <td>Nazwisko: {{ this.Nazwisko }}</td>
                <br><br>
                <td>Wiek: {{ this.Wiek }}</td>
                <br><br>
                <td>Klasa: {{ this.Klasa }}</td>
            </div>
            <h2>Opis</h2>
            <td>{{ this.Opis }}</td> 
        </tr>
        {{/each}}
    </thead>
    </form>
    <form action="/home" method="post" class="buttons">
        <button type="submit" value="Lewy" name="click" class="lewy">left</button>
        <button type="submit" value="Prawy" name="click" class="prawy">right</button>
    </form>
    <div class="menu">
        <img src="/img/profilowe.jpg" class="menu_zd_1" onclick="window.location = 'http://localhost:3000/profil'">
        <img src="/img/wyjscie.jpg" class="menu_zd_2" onclick="window.location = 'http://localhost:3000'">
    </div>
</body>
</html>