<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Uzytkownikow</title>
</head>
<body>
    <form action="/profile" method="post">
        <select name="klasa">
            <option value="1a"> Klasa 1a </option>
            <option value="1b"> Klasa 1b </option>
            <option value="2a"> Klasa 2a </option>
        </select>
        <button type="submit">Pokaz</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Imie:</th>
                <th>Nazwisko:</th>
                <th>Wiek:</th>
                <th>Klasa:</th>
                <th>Opis:</th>
            </tr>
        </thead>
        <tbody>
            {{ #each data }}
                <tr>
                    <th>{{ this.Imie }}</th>
                    <th>{{ this.Nazwisko }}</th>
                    <th>{{ this.Wiek }}</th>
                    <th>{{ this.Klasa }}</th>
                    <th>{{ this.Opis }}</th>
                </tr>
            {{ /each }}
        </tbody>
    </table>
</body>
</html>